<meta charset="UTF-8" />
<meta name="keywords" content="HTML, CSS, JavaScript" />
<meta name="description" content="njsWebClient" />
<meta name="author" content="njsWebSvr" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/iconfont/material-icons.css" />
<link rel="stylesheet" type="text/css" href="/matIconFix/index.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/navBar.css" />
<link rel="stylesheet" type="text/css" href="/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/css/users.css" />
<title>{{title}}</title>