[navBar] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
[toolBar] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
[navPill] {
    min-width: 90%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid transparent;
}
[navLink] {
    text-decoration: none;
    /* color: var(--themeFColor) */
}
[navLink]:hover {
    color: var(--themeFColorHover)
}
[icon] {
    padding: 5px;
    color: inherit;
}
[icon]:hover {
    cursor: pointer;
    color: inherit;
}
[iconLabel] {
    font-size: xx-small;
    color: inherit;
}
[iconLabel]:hover {
    cursor: pointer;
    color: inherit;
}
.isCollapsed {
    /* transition: height 5s ease-in; */
    padding: 0px !important;
    visibility: hidden !important;
    height: 0px !important;
}
[isSelected] {
    border-bottom: 1px solid var(--themeColorIsSelected);
}
.showMenuButton {
    display: flex;
}
.hideMenuButton {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    [navBar] {
        flex-direction: row;
        justify-content: flex-end;
    }
    [toolBar] {
        display: none;
    }
    [navPill] {
        text-align: center;
        padding: 5px 15px;
        min-width: 100px;
    }
    [navLink] {
        text-align: center;
    }
}